[Desktop Entry]
Version=1.0
Type=Application
Name=PHP Organize Album Photos And Videos
Comment=PHP - Album Organizer - Linux
Exec=bash -c "php ./app/organizerScript.php ; read -p 'Press Enter to close this window'"
Icon=utilities-terminal
Categories=Utility
StartupNotify=true
Terminal=true
