[Desktop Entry]
Version=1.0
Type=Application
Name=PHP Organize Album Photos And Videos 
Comment=Album-organizer
Exec=php ./app/php-exiftool.php
Icon=utilities-terminal
Categories=Utility
StartupNotify=true
Terminal=true
