[Desktop Entry]
Version=1.0
Type=Application
Name=PHP Organize Album Photos And Videos
Comment=PHP - Album Organizer - Linux
Exec=php ./app/organizerScript.php
Icon=utilities-terminal
Categories=Utility
StartupNotify=true
Terminal=true
